/* Style for theme */

.bgcolor-gray {
    background-color: #3C3B39;
}

.bgcolor-contact {
    background-color: #FDEBEB;
}

.text-yellow {
    color: #FFB327;
}

.btn-blue {
    background-color: #017AED;
}